/*Import font*/

@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");

/*Declaring CSS variables for Light mode*/

html[light-mode="light"] {
  --bg1-color: #ffffff;
  --bg-head: #ffffff;
  --bg-col: #fff;
  --p-up: black;
  --bg-cite-y: #f5f5f5;
  --cite-bg: #fff;
  --cite-head: rgb(221, 217, 217);
  --cite-col-txt: #333;
  --cite-close: #333;
  --cite-hover: black;
  --hover-link: black;
  --shadow-col1: #a3b1c6;
  --shadow-col2: #ffffff;
}

/*Declaring CSS variables for Dark Mode*/

html[light-mode="dark"] {
  --bg1-color: #272727;
  --bg-col: rgba(0, 0, 0, 0);
  --text-gra: ;
  --bg-txt-img: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
  --txt-fill: transparent;
  --p-up: #fff;
  --bg-head: rgba(0, 0, 0, 0.877);
  --bg-head-img: rgba(0, 0, 0, 0.877);
  --bg-cite-y: rgba(0, 0, 0, 0.877);
  --black-two: rgba(0, 0, 0, 0.877);
  --cite-head: rgb(59, 55, 55);
  --cite-bg: black;
  --cite-col-txt: #fff;
  --cite-close: rgba(0, 0, 0, 0.192);
  --cite-hover: #fff;
  --hover-link: rgb(236, 103, 125);
  --shadow-col1: rgb(29, 28, 28);
  --shadow-col2: rgba(34, 34, 34, 0.459);
}

html {
  overflow-x: hidden;
}
.project_head {
  font-weight: bold;
}

/* color of research page heading*/

.project_work {
  color: #4e00bb;
}

/*For Changing background color of body according to theme*/
body {
  background: var(--bg-col) !important;
}

.p-upper {
  color: var(--p-up);
}

/*Research page*/
.txt-bottom {
  height: auto;
}

.projectMainWrapper {
  color: var(--p-up);
}

#projectDetailsTable{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
}

#projectDetailsTable tr {
  background-color: var(--bg1-color);
  display: flex;
  margin: 0px 4em 4em 4em;
  transition: all 1s ease;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgb(0 0 0 / 15%), 2px 2px 7px rgb(0 0 0 / 14%),
    3px 3px 8px rgb(0 0 0 / 13%), 4px 4px 9px rgb(0 0 0 / 12%);
}

#projectDetailsTable tr:hover {
  transform: scale(1.1);
}

#rDetailsHead {
  z-index: 700;
  background-color: #f5f5f5;
  height: 500px;
  box-sizing: border-box;
}

.projectTitle {
  font-weight: bold;
  padding: 16px 16px 0 16px;
  text-align: left;
  box-sizing: border-box;
  text-transform: uppercase;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--bg-head);
  background-image: var(--bg-head-img);
}

.projectTitle span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}

.projectTitle span a {
  padding: 8px 0;
}

.projectCited {
  font-weight: bold;
  text-align: right;
  padding: 16px 8px 0 8px;
  width: 64px;
  white-space: nowrap;
  box-sizing: border-box;
  text-transform: uppercase;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--bg-cite-y);
}

.projectYear {
  font-weight: bold;
  padding: 16px 16px 0 16px;
  text-align: right;
  width: 88px;
  white-space: nowrap;
  box-sizing: border-box;
  text-transform: uppercase;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--bg-cite-y);
}

.projectTitleName {
  padding: 16px;
  vertical-align: top;
  text-align: left;
  width: 70%;
}

.paperTitle:hover {
  text-decoration: none;
  color: var(--hover-link);
}

.paperTitle {
  padding: 8px 0;
  font-size: 16px;
}

.projectCitedNumber span,
.projectY span {
  display: inline-block;
  margin-top: 3px;
  color: grey;
}

.rteckstack {
  font-style: italic;
  font-size: 0.88em;
  width: 100%;
  text-align: left;
}

.projectY {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
  color: grey;
  margin-top: 1em;
  margin-bottom: 14%;
}

.projectCite {
  text-align: right;
  vertical-align: top;
}

.proCite {
  display: none;
}

/*Profile pic responsiveness*/
@media only screen and (max-width: 711px) {
  #projectDetailsTable tr {
    background-color: var(--bg1-color);
    margin: 0px 0px 4em 0px;
    display: flex;
  }
  .projectCite {
    display: none;
  }
  .resCite {
    display: block;
  }
}

/*Responsive*/

@media only screen and (max-width: 441px) {
  .projectTitleName a {
    font-size: 14px;
  }
  .projectTitleName div {
    font-size: 12px;
  }
}

@media only screen and (max-width: 771px) and (max-height: 1030px) {
  .projectTitleName {
    width: 300px;
  }
  
}
@media only screen and (min-width:712px) and (max-width: 960px)
{
  .projectY{
    margin-bottom: 5.8em;
  }
}

@media only screen and (max-width: 400px) and (max-height: 700px) {
  .projectTitleName {
    width: 300px;
  }
}

/* For Samsung Galaxy Fold*/

@media only screen and (max-width: 300px) and (max-height: 660px) {
  .projectTitleName {
    width: 230px;
  }
}

.paperTitle {
  font-weight: bold;
  color: var(--ppr-col);
}

@media only screen and (max-width: 850px) {
  .projectMainWrapper {
    margin-top: 150px;
  }
}

@media only screen and (max-width: 767px) {
  .projectMainWrapper {
    margin-top: 180px;
  }
}

@media only screen and (max-width: 624px) {
  .projectMainWrapper {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 500px) {
  .projectMainWrapper {
    margin-top: 85px;
    margin-bottom: 100px;
  }
}

/*IMAGES SECTION OF LIST*/

.rImg {
  margin-left: 0;
  border-radius: 10px;
  max-width: 100%;  /* Ensures image doesn't exceed container */
  height: auto;
}


.imgRes {
  width: 14em;
  height: 14em;
}

.imgResponsive {
  display: none;
  margin-bottom: 1em;
}

.imgCol {
  width: 100%;
  height: auto; /* Allow height to adjust dynamically */
  display: flex;
  align-items: center; /* Centers the image vertically */
  justify-content: center; /* Centers the image horizontally */
}

.imgCol .rImg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures full coverage without distortion */
}
@media only screen and (max-width: 711px) {
  
  .img-div{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .imgResponsive {
    display: block;
    width: 60%;
  }
  .rImg {
    width: 100%;
    height: auto;
    object-fit: contain; /* Prevents cropping */
  }
    .imgCol {
      width: 100%;
      height: auto;
    }
}

@media only screen and (max-width: 285px) and (max-height: 655px) {
  .imgResponsive .imgRes {
    margin: -1.32em -1.26em 1.3em -1.3em;
    width: 406.7px;
    height: 260px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 375px) and (max-height: 575px) {
  .imgResponsive .imgRes {
    margin: -1.4em -1em 1.3em -1.3em;
    width: 406.7px;
    height: 260px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 415px) and (max-height: 737px) {
  .imgResponsive .imgRes {
    margin: -1.6em 1em 1.3em -1.4em;
    width: 406.7px;
    height: 260px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 415px) and (max-height: 830px) {
  .imgResponsive .imgRes {
    margin: 1em -1.3em 1.3em -1.3em;
    width: 200px;
    height: 260px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 380px) and (max-height: 680px) {
  .imgResponsive .imgRes {
    margin: 1em -1.3em 1.3em -1.3em;
    width: 200px;
    height: 260px;
    border-radius: 10px;
  }
}


@media only screen and (max-width: 545px) and (min-width: 500px) and (max-height: 725px) {
  .imgResponsive .imgRes {
    margin: 1em -1em 1.3em -1em;
    width: 200px;
    height: 260px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 280px) and (max-height: 653px) {
  .imgResponsive .imgRes {
    margin: 1em -1.3em 1.3em -1.3em;
    width: 150px;
    height: 260px;
    border-radius: 10px;
  }
}

/* Button for citing  */
.d-flex{
  display: flex;
  justify-content: center;
}

.button {
  border: 1px solid rgb(231, 85, 109);
  color: rgb(231, 85, 109);
  outline: none;
  background-color: transparent;
  transition: 0.3s;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.3em;
  cursor: pointer;
  margin: 1em 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover,
.button:focus {
  background-color: rgb(231, 85, 109);
  color: #fff;
  border-radius: 4px;
  box-shadow: -3px -3px 9px #ffffff73, 2px 2px 9px rgba(94, 104, 121, 0.288);
}

@media (min-width: 60rem) {
  .d-flex{
      display: flex;
      justify-content: flex-end;
  }
  .button {
    width: 10rem;
    font-size: 0.9rem;
    margin-top: 5em;
  }
}

/*Popup for cite*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 400ms ease-in;
  visibility: hidden;
  opacity: 0;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 20px auto;
  background: var(--cite-bg);
  width: 60%;
  position: relative;
  animation: moveUp 2s 0s ease alternate;
}

@keyframes moveUp {
  0% {
    transform: translateY(15em);
  }
  100% {
    transform: translateY(0);
  }
}

.popup h5 {
  margin-top: 0;
  text-align: center;
  color: var(--cite-col-txt);
  background-color: var(--cite-head) !important;
  padding: 8px;
  position: sticky;
  font-size: 1em;
}

/*Close button for popup*/

.popup .close {
  position: absolute;
  right: 30px;
  top: 5px;
  transition: all 200ms;
  font-size: 30px;
  text-decoration: none;
  color: var(--cite-close);
}

.popup .close:hover {
  color: var(--cite-hover);
}

.popup .content {
  max-height: 70%;
  overflow: auto;
  font-size: 1em;
}

/*Responsive*/

@media (min-width: 60rem) {
  .cite-div {
    margin-top: -2em;
  }
  .popup h5 {
    padding: 15px;
    font-size: 1.6em;
  }
  .popup .close {
    top: 20px;
  }
  .popup .content {
    font-size: 1em;
  }
}

@media screen and (max-width: 700px) {
  .popup {
    width: 80%;
  }
  #researchDetailsTable tr {
    flex-direction: column;
  }
  .imgRes {
    width: 100%;
  }
}

/*Table for research works*/

.left-cell {
  font-size: 0.8em;
  text-align: right;
  color: grey;
  vertical-align: top;
}

.right-cell {
  font-size: 0.8em;
  color: var(--p-up);
}

/*social icons footer*/

.social-icons-footer {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 220px;
  display: block;
}

.social-icon-footer {
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--link-size-footer-s);
  height: var(--link-size-footer-s);
  margin: 3px;
  background-color: #26a69a;
  border-radius: 50%;
  text-decoration: none;
  float: left;
}

.social-icon-footer i {
  margin: auto;
  font-size: 15px;
  color: #fff;
}

.social-icon-footer:hover i {
  color: #000000;
}

/*Responsive*/

@media (min-width: 60rem) {
  .social-icons-footer {
    width: 280px;
  }
  .social-icon-footer {
    width: var(--link-size-footer-b);
    height: var(--link-size-footer-b);
  }
  .social-icon-footer i {
    font-size: 20px;
  }
}

/*Animations*/

@keyframes ekumanslidein {
  0% {
    transform: translateX(-600px);
  }
  50% {
    transform: translateX(-600px) scaleX(1);
  }
  75% {
    transform: translateX(30px) scaleX(0.9);
  }
  87.5% {
    transform: translateX(-5px);
  }
  97% {
    transform: translateX(3px);
  }
  to {
    transform: translateX(0) scaleX(1);
  }
}

@keyframes ekumanarmrotate {
  0%,
  45%,
  65%,
  85%,
  to {
    transform: rotate(0deg);
  }
  55%,
  75% {
    transform: rotate(-5deg);
  }
}

@keyframes ekumanhairwobble {
  50%,
  to {
    transform: scaleX(1);
  }
  75% {
    transform: scaleX(1.2);
  }
  87.5% {
    transform: scaleX(0.8);
  }
  97% {
    transform: scaleX(1.09);
  }
}

@keyframes ekuwomanlidein {
  0% {
    transform: translateX(600px);
  }
  50% {
    transform: translateX(600px) scaleX(1);
  }
  75% {
    transform: translateX(-30px) scaleX(0.9);
  }
  87.5% {
    transform: translateX(5px);
  }
  97% {
    transform: translateX(-3px);
  }
  to {
    transform: translateX(0) scaleX(1);
  }
}

@keyframes kulapdropin {
  0% {
    transform: translateY(-230px) scale(0) rotate(0deg);
  }
  35% {
    transform: translateY(-230px) scale(1.03) rotate(20deg);
  }
  45% {
    transform: rotate(10deg);
  }
  50% {
    transform: translateY(-5px) scale(0.98) rotate(0deg);
  }
  55% {
    transform: translateY(-10px) scale(1.01) rotate(0deg);
  }
  60% {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes ekuwomanarmrotate {
  0%,
  45%,
  65%,
  85%,
  to {
    transform: rotate(0deg);
  }
  55%,
  75% {
    transform: rotate(10deg);
  }
}

@keyframes ekuwomanarmbackrotate {
  0%,
  45%,
  65%,
  85%,
  to {
    transform: rotate(0deg);
  }
  55%,
  75% {
    transform: rotate(-13deg);
  }
}

@keyframes manscreenpopup {
  0%,
  45%,
  55%,
  65%,
  75%,
  85% {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes manscreenfloat {
  0%,
  to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes backhairwave {
  0%,
  to {
    transform: scaleX(1) skewX(0) skewY(0);
  }
  50% {
    transform: scaleX(1.07) skewX(3deg) skewY(5deg);
  }
}

#ku.svgmate #Bluearmbot,
#ku.svgmate #Chair,
#ku.svgmate #chairbackbar,
#ku.svgmate #man,
#ku.svgmate .mankauf {
  animation-name: ekumanslidein;
  animation-iteration-count: 1;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  transform-origin: 502px 454px;
}

#ku.svgmate #Bluearmbot,
#ku.svgmate #Chair,
#ku.svgmate #chairbackbar,
#ku.svgmate .mankauf {
  animation-duration: 1.5s;
}

#ku.svgmate #Bluearmbot {
  animation-name: ekumanarmrotate;
  animation-iteration-count: infinite;
  animation-duration: 1.8s;
  animation-delay: 1.2s;
  transform-origin: 448.122px 403.482px;
}

#ku.svgmate .mankauf {
  animation-name: ekumanhairwobble;
  animation-duration: 1.38s;
  transform-origin: 396.257px 260.5px;
}

#ku.svgmate #Chair_1_,
#ku.svgmate #Woman,
#ku.svgmate #back-arm,
#ku.svgmate #backleg_1_ {
  animation-name: ekuwomanlidein;
  animation-iteration-count: 1;
  animation-duration: 1.8s;
  animation-timing-function: ease-out;
  transform-origin: 502px 454px;
}

#ku.svgmate #Chair_1_ {
  animation-duration: 1.95s;
}

#ku.svgmate #Laptop,
#ku.svgmate #keyboard {
  animation-name: kulapdropin;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  transform-origin: 648.689px 361.659px;
}

#ku.svgmate #keyboard {
  animation-duration: 2.5s;
  transform-origin: 479.857px 383px;
}

#ku.svgmate #lowerarm,
#ku.svgmate #lowervackarm {
  animation-name: ekuwomanarmrotate;
  animation-iteration-count: infinite;
  animation-duration: 1.8s;
  animation-delay: 2.1s;
  animation-timing-function: ease-out;
  transform-origin: 751.134px 385.578px;
}

#ku.svgmate #lowervackarm {
  animation-name: ekuwomanarmbackrotate;
  transform-origin: 736.882px 386px;
}

#ku.svgmate #Man_screen .greenscreen,
#ku.svgmate #Man_screen .redscreen,
#ku.svgmate #Man_screen .screenbutton {
  animation-name: manscreenpopup;
  animation-iteration-count: 1;
  animation-duration: 5.6s;
  animation-timing-function: ease-in-out;
  transform-origin: 526.882px 383px;
}

#ku.svgmate #Man_screen .greenscreen,
#ku.svgmate #Man_screen .redscreen {
  animation-duration: 3s;
}

#ku.svgmate #Man_screen .greenscreen {
  animation-duration: 3.3s;
}

#ku.svgmate #Man_screen,
#ku.svgmate #Man_screen .greenscrmove,
#ku.svgmate #Man_screen .redskmove,
#ku.svgmate .womscreenmove {
  animation-name: manscreenfloat;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
}

#ku.svgmate #Man_screen .greenscrmove,
#ku.svgmate #Man_screen .redskmove {
  animation-duration: 6s;
}

#ku.svgmate #Man_screen .greenscrmove {
  animation-duration: 7.2s;
}

#ku.svgmate #hairback,
#ku.svgmate #womanscreen {
  animation-name: manscreenpopup;
  animation-iteration-count: 1;
  animation-duration: 3.9s;
  animation-timing-function: ease-in-out;
  transform-origin: 648.689px 361.659px;
}

#ku.svgmate #hairback {
  animation-name: backhairwave;
  animation-iteration-count: infinite;
  animation-duration: 3.3s;
  transform-origin: 785.132px 295.833px;
}